<footer class="footer">
    <div class="navbar-right container-fluid modal-body">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Footer Item1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer Item2
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer Item3
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer Item5
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            <script>
                            document.write(new Date().getFullYear())
            </script>
            demo amplication
        </p>
    </div>
</footer>
